<section class="cta">
	<div class="cta__content">
		<h2 class="cta__title">Оставьте заявку прямо сейчас!</h2>
		<p class="cta__text">Организуем трансфер на высшем уровне. Оставьте заявку — свяжемся с&nbsp;вами и&nbsp;уточним все детали.</p>
		<a class="btn btn_tertiary cta__btn" href="#booking">Оставить заявку</a>
	</div>
</section>
