<section class="features">
	<div class="container features__inner">

		<div class="feature">
			<div class="feature__icon" aria-hidden="true"></div>
			<p class="feature__text">&gt;250 единиц транспорта в&nbsp;собственном автопарке</p>
		</div>

		<div class="feature">
			<div class="feature__icon" aria-hidden="true"></div>
			<p class="feature__text">Чёткое соблюдение таймингов мероприятия</p>
		</div>

		<div class="feature">
			<div class="feature__icon" aria-hidden="true"></div>
			<p class="feature__text">Диспетчерская поддержка 24/7. Звоните в любое время!</p>
		</div>

	</div>
</section>
