<section class="process" id="stages">
	<div class="container">

		<h2 class="process__title">Как организуется перевозка?</h2>

		<div class="process__timeline">

			<div class="process__track" aria-hidden="true">
				<div class="process__dot">1</div>
				<div class="process__line"></div>
				<div class="process__dot">2</div>
				<div class="process__line"></div>
				<div class="process__dot">3</div>
				<div class="process__line"></div>
				<div class="process__dot">4</div>
			</div>

			<div class="process__steps">

				<div class="process__step">
					<p class="process__step-title">Заявка на сайте</p>
					<p class="process__step-text">Вы&nbsp;отправляете заявку с&nbsp;контактной информацией</p>
				</div>

				<div class="process__step">
					<p class="process__step-title">Согласование деталей</p>
					<p class="process__step-text">Наш&nbsp;менеджер связывается с&nbsp;вами, уточняет маршруты и&nbsp;график передвижений во&nbsp;время мероприятия</p>
				</div>

				<div class="process__step">
					<p class="process__step-title">Оформление договора</p>
					<p class="process__step-text">Подбираем оптимальный транспорт под количество участников, заключаем договор</p>
				</div>

				<div class="process__step">
					<p class="process__step-title">Трансфер под ключ</p>
					<p class="process__step-text">Выполняем перевозки по&nbsp;заранее согласованному графику и&nbsp;обеспечиваем сопровождение 24/7</p>
				</div>

			</div>

		</div>

	</div>
</section>
