@model TransferListViewModel

@{
    ViewData["Title"] = "Трансферы";
}

<div id="app"></div>

<script>
    window.__DATA__ = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(new
    {
        transfers = Model.Transfers.Select(t => new
        {
            id = t.Id,
            name = t.Name,
            slug = t.Slug,
            domain = t.Domain,
        }),
    }));
</script>

@section Scripts 
{
    <script type="module" vite-src="~/scripts/views/transfers-index/page.tsx"></script>
}
