@model Site.Models.Header

<header class="header">
	<div class="container header__inner">
		<a class="header__logo-link" href="#top">
			@if (!string.IsNullOrEmpty(Model.Logo))
			{
				<img class="header__logo" src="@Model.Logo" alt="@Model.TransferName" />
			}
			else
			{
				<span class="header__brand">@Model.TransferName</span>
			}
		</a>

		<nav class="header__nav" aria-label="Навигация по странице">
			<a class="header__nav-item" href="#about">О мероприятии</a>
			<a class="header__nav-item" href="#transfer">Трансфер</a>
			<a class="header__nav-item" href="#transport">Виды транспорта</a>
			<a class="header__nav-item" href="#cases">Кейсы</a>
			<a class="header__nav-item" href="#stages">Этапы работы</a>
		</nav>

		<a class="btn btn_primary header__cta" href="#booking">Оставить заявку</a>
	</div>
</header>
